(ns {{top/ns}}.{{main/ns}}-test
  (:require [clojure.test :refer [deftest testing is]]
            [io.modelcontext.clojure-sdk.server :as server]
            [{{top/ns}}.{{main/ns}} :as sut]))

(deftest valid-server-spec
  (testing "Ensure that the server-spec is valid"
    (is (server/validate-spec! sut/{{main/ns}}-spec))))
